pkgbase = proton-vpn-omarchy
	pkgdesc = Native Proton VPN backend and Rust split tunneling service for Omarchy Quattro
	pkgver = 0.8.2
	pkgrel = 1
	url = https://github.com/48hoursnonstop/proton-vpn-omarchy-core
	install = proton-vpn-omarchy.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rust>=1.75
	depends = iproute2
	depends = networkmanager
	depends = networkmanager-vpn-plugin-openvpn
	depends = openvpn
	depends = python-proton-vpn-api-core>=5.5.11
	provides = proton-vpn-daemon=0.13.8
	conflicts = proton-vpn-daemon
	options = !debug
	options = !lto
	source = proton-vpn-omarchy-0.8.2.tar.gz
	sha256sums = 566cda732868f9dccd462385bd0b20f8e4135d8cef28937205d1a85019671bb2

pkgname = proton-vpn-omarchy
