pkgbase = proton-vpn-omarchy
	pkgdesc = Native Proton VPN backend and Rust split tunneling service for Omarchy Quattro
	pkgver = 0.8.6
	pkgrel = 1
	url = https://github.com/48hoursnonstop/proton-vpn-omarchy-core
	install = proton-vpn-omarchy.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rust>=1.75
	depends = iproute2
	depends = networkmanager
	depends = networkmanager-vpn-plugin-openvpn
	depends = openvpn
	depends = python-proton-vpn-api-core>=5.5.11
	provides = proton-vpn-daemon=0.13.8
	conflicts = proton-vpn-daemon
	options = !debug
	options = !lto
	source = proton-vpn-omarchy-0.8.6.tar.gz
	sha256sums = 8ff0f1c45d39bb6405b243c53ac71a3ed26c01d88e2fbaeb6b33dbc386d9a33b

pkgname = proton-vpn-omarchy
