pkgbase = proton-vpn-omarchy
	pkgdesc = Native Proton VPN backend and Rust split tunneling service for Omarchy Quattro
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/48hoursnonstop/proton-vpn-omarchy-core
	install = proton-vpn-omarchy.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rust>=1.75
	depends = iproute2
	depends = networkmanager
	depends = networkmanager-vpn-plugin-openvpn
	depends = openvpn
	depends = python-proton-vpn-api-core>=5.5.11
	provides = proton-vpn-daemon=0.13.8
	conflicts = proton-vpn-daemon
	options = !debug
	options = !lto
	source = proton-vpn-omarchy-0.9.0.tar.gz
	sha256sums = 5c50d9da973321d3b9990a823552319f7520a6b2deec3a6a535c5910c671bfbc

pkgname = proton-vpn-omarchy
